# Environment variables
.env

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Downloaded audio/video files
downloads/

# Chroma Vector Database
vector_db/

# VS Code settings
.vscode/

# Logs
*.log

# OS files
Thumbs.db
.DS_Store