@import "tailwindcss";

:root{
  color-scheme: dark;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  overflow-x:hidden;
  background:#050816;
  color:white;
  font-family:Inter,sans-serif;
}

/* MAIN BACKGROUND */

body{

background:

radial-gradient(circle at 15% 25%,
rgba(139,92,246,.14) 0%,
transparent 22%),

radial-gradient(circle at 85% 18%,
rgba(34,211,238,.12) 0%,
transparent 20%),

radial-gradient(circle at 50% -10%,
rgba(124,58,237,.16) 0%,
transparent 30%),

linear-gradient(
180deg,
#070815 0%,
#060713 25%,
#050816 50%,
#060713 75%,
#070815 100%
);

}

/* LIGHT NOISE */

body::before{

content:"";

position:fixed;

inset:0;

pointer-events:none;

z-index:-1;

background-image:

radial-gradient(
rgba(255,255,255,.04) 1px,
transparent 1px
);

background-size:24px 24px;

opacity:.22;

}

/* PURPLE AMBIENT */

body::after{

content:"";

position:fixed;

left:-250px;

bottom:-220px;

width:700px;

height:700px;

border-radius:999px;

background:

radial-gradient(circle,
rgba(139,92,246,.12),
transparent 70%);

filter:blur(120px);

pointer-events:none;

z-index:-1;

}